.beige-button {
    -fx-background-color: #bfa27a;
    -fx-text-fill: black;

    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-border-color: transparent;

    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-cursor: hand;

    -fx-padding: 8 16 8 16;
}

.hamburger-menu-button {
    -fx-background-color: #020817;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: transparent;
    -fx-padding: 6;
    -fx-cursor: hand;
}

.hamburger-menu-button:hover {
    -fx-background-color: #0a1226;
}

.hamburger-menu-button .arrow-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.hamburger-menu-button .arrow {
    -fx-padding: 0;
    -fx-shape: "";
}

.hamburger-line {
    -fx-fill: white;
}